html *
{
   font-family: Verdana
}

body
{
    background-color: #C8A4EF;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sociallink {
  width: 30px;
  vertical-align: middle;
  margin: 10px;
}

.contactfield {
    line-height: 200%;
}

#map_ {
    border: thin solid black;
    height: 500px;
    width: 700px;
}
